---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌱</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script type="module">
      import {
        random,
        randomDecimal,
        randomInt,
        randomPercent,
        randomChance,
        randomDegree,
        randomItemInArray,
        randomHsl,
        randomHue,
        randomLightness,
        randomSaturation,
        randomAlpha,
        setRandomPrecision,
        setSeed,
      } from "../../lib/index.js";

      window.random = random;
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
