---
import Example from "./Example.astro";
const { exampleFunction, seed } = Astro.props;
---

<Example
  exampleFunction={exampleFunction}
  seed={seed}
  displayFunction={(value: string) => `
  

  <div style="background-color: ${value}; padding: 2em;"><div style="background: #fff; padding: 0.5em;">${value}</div></div>
`}
/>
