---
import { Code } from "astro/components";

const { exampleFunction, displayFunction } = Astro.props;

const codeExample = exampleFunction.toString().replace("() => ", "");

const value = exampleFunction();

const displayedValue = displayFunction ? displayFunction(value) : value;
---

<div class="example">
  <Code lang="js" code={codeExample} />

  <output set:html={displayedValue} />
</div>
