---
import { seeded } from "../../lib/index";
import { Code } from "astro/components";
const { exampleFunction, displayFunction, seed, codePrefix } = Astro.props;

const codeExample = (codePrefix || "") + exampleFunction;

const rando = seeded(seed);

const value = eval(exampleFunction);

const displayedValue = displayFunction ? displayFunction(value) : value;
---

<div class="example">
  <Code lang="js" code={codeExample} />

  <output set:html={displayedValue} />
</div>
